.category_wrapper{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
}
.category_item {
    background: #fde4e4;
    padding: 30px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: calc(25% - 20px)
  }
  
.category_item:hover {
    transform: translateY(-15px);
  }
.category_item h5{
    margin-left: 10px;
}  
@media only screen and (max-width: 992px){
  .category_item{
    width: calc(33.33% - 20px);
  }
}
@media only screen and (max-width: 768px) {
    .category_wrapper{
       padding: 10px 50px;
    } 
    .category_item{
      padding: 20px 15px;
      width: calc(50% - 20px);
    }
    .category_img img {
      width: 40px;
      height: 40px;
    }
  
    .category_item h5 {
      font-size: 0.8rem;
    }
}
@media only screen and (max-width: 576px){
    .category_wrapper{
        padding: 10px 50px;
    }
    .category_item{
        margin-bottom: 12px;
        width: 100%;
    }
}