.wrapper_top{
    display: flex;
    justify-content: space-around;
}
.search_widget,
.sorting_widget select {
  padding: 7px 15px;
  border: 1px solid #fde4e4;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
.search_widget input{
    outline: none;
    border: none;
}

@media only screen and (max-width: 768px) {
    .search_widget {
      width: 60%;
      margin-bottom: 20px;
      display: flex;
    }
    .search_widget input {
      font-size: 0.8rem;
      flex: 1;
    }
    .sorting_widget select {
      width: 100% !important;
      font-size: 0.8rem;
    }
  }
