.section_hero{
   display: flex;
   width: 100%;
   padding: 0 100px;
}
.hero_content{
   width: 50%;
   padding-top: 70px;
}
.hero_content h5{
    font-size: 20px;
    font-weight: 500;
}
.hero_title{
    font-size: 2.5rem;
    line-height: 55px;
    margin: 20px 0;
}
.hero_title span{
    color: #df2020;
  }
.hero_content p{
    font-size: 16px;
    line-height: 30px;
    color: #777;
}
.hero_img{
   width: 50%;
}
.hero_img img{
   width: 100%;
}
.hero_btn{
    margin: 50px 0;
    display: flex;
}
.hero_btn button{
    border: none;
    outline: none;
    padding: 7px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}
.order_btn{
    background: #df2020;
    color: #fff;
    margin-right: 80px;
    transition: 0.3s;
    display: flex;
    align-items: center;
}
.hero_btn_icon{
    font-size: 18px;
    color: #fff;
}
.order_btn:hover {
    background: #212245;
  }
.allFood_btn{
    background: transparent;
    border: 1px solid #df2020 !important;
}
.allFood_btn a{
    color: #df2020;
    text-decoration: none;
}
.hero_service{
    display: flex;
   
}
.hero_service p{
    color: #212245;
    font-weight: 600;
    font-size: 0.9rem;
    margin-right: 30px;
    display: flex;
}
.hero_icon{
    background-color: #df2020;
    padding: 5px;
    color: #fff;
    border-radius: 50%;
    font-weight: 500 !important;
    font-size: 25px;
    margin-right: 5px;
}
@media only screen and (max-width: 768px){
    .section_hero{
        padding: 0 50px;
     }
    .hero_content{
        padding-top: 10px;
    }
    .hero_content p{
        font-size: 0.8rem;
        line-height: 25px;
    }
    .hero_content h5{
        font-size: 1rem;
    }
    .hero_btn{
        margin: 20px 0;
    }
    .hero_btn button{
        padding: 5px 15px;
        font-size: 0.7rem;
        width: 30%;
        margin-bottom: 7px;
    }
    .order_btn{
        margin-right: 40px;
    }
    .hero_title {
        font-size: 1.5rem;
        line-height: 40px;
        margin: 5px 0;
    }
    .hero_service{
        flex-direction: column;
    }
}
@media only screen and (max-width: 576px){
    .hero_btn button{
        width: 50%;
      }
      .hero_btn{
        flex-direction: column;
    }  
    .section_hero{
        padding: 0 20px;
     }
    .hero_content{
        padding-top: 10px;
    }
    .hero_service{
        flex-direction: column;
    }
}
.food_category{
    margin-top: 30px;
    padding: 5px 100px;
    text-align: center;
}
.food_category div{
    background: #df2020;
    border-radius: 8px;
    padding: 15px 0;
    display: flex;
    justify-content: center;
}
.food_category button {
    border: none;
    outline: none;
    padding: 7px 20px;
    background: transparent;
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
  }
.food_category button img {
    width: 20px;
    height: 20px;
    margin-right: 2px;
}
.foodBtnActive {
    background: #fff !important;
    border-radius: 5px;
    color: #df2020 !important;
  }
  
  