.testimonial{
    display: flex;
    padding: 0 100px;
    margin-top: 100px;
}
.testimonial_img{
    width: 50%;
}
.testimonial_img img{
    width: 100%;
    height: 100%;
}
.testimonial_content{
    width: 50%;
    text-align: left;
}
.testimonial_subtitle {
    color: #df2020;
  }
.testimonial_title span {
    color: #df2020;
}
.testimonial_desc {
    color: #777;
    line-height: 30px;
    margin-bottom: 30px;
}
@media only screen and (max-width: 992px){
    .testimonial{
        flex-direction: column;
    }
    .testimonial_content{
        width: 100%;
    }
    .testimonial_img{
        width: 80%;
        height: 300px;
    }
}    
@media only screen and (max-width: 768px){
    .testimonial{
        padding: 0 50px;
        margin-top: 20px;
    }
    .testimonial_img{
        width: 80%;
        height: 250px;
        margin-top: 30px;
    }
}
@media only screen and (max-width: 576px){
    .testimonial{
        padding: 0 20px;
    }
}